
<div class="gallary-header text-center">
</div><!--/.gallery-header-->
<div class="packages-content">
  <div class="row">
    <%= render(@tours) || "Không có tour" %>
  </div><!--/.row-->
</div><!--/.packages-content-->
<!--/.packages-->
