<!--about-us start -->
<section id="home" class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row header-image">
      </div><!--/.row-->
    </div><!--/.about-us-content-->
  </div><!--/.container-->

</section><!--/.about-us-->
<!--about-us end -->
<!--travel-box end-->

<!--packages start-->
<section id="pack" class="packages">
  <div class="container">
    <div class="gallary-header text-center">
      <h2>
        Tour đã được đặt 
      </h2>

    </div><!--/.gallery-header-->
    <div class="packages-content">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <table class="table table-striped table-hover" id="tbl_booking_tours">
            <thead>
              <tr>
                <th scope="col">Số</th>
                <th scope="col", style="width: 82px!important; text-align: center">Tên tour</th>
                <th scope="col">Giá</th>
                <th scope="col", style="width: 96px!important; text-align: center">Thời hạn</th>
                <th scope="col", style="width: 78px!important; text-align: center">Tổng</th>
                <th scope="col", style="text-align: center">Ngày</th>
                <th scope="col", style="width: 96px!important; text-align: center">Số người</th>
                <th scope="col", style="text-align: center">Liên hệ</th>
                <th scope="col", style="text-align: center">Email</th>
                <th scope="col", style="width: 87px!important; text-align: center">SĐT</th>
                <th scope="col", style="width: 94px!important; text-align: center">Trạng thái</th>
                <th></th>
              </tr>
            </thead>

            <tbody id="booking_tours_admin">
              <% @booking_tours.each_with_index do |booking_tour, index|%>
                <%= render partial: "booking_tour", locals: {booking_tour: booking_tour, index: index} %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div><!--/.row-->
    </div><!--/.packages-content-->
    <!--/.packages-->

    <!--packages end-->
    <%= will_paginate @booking_tours %>
  </div>
</section>
