<!--about-us start -->
<section id="home" class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row header-image">
      </div><!--/.row-->
    </div><!--/.about-us-content-->
  </div><!--/.container-->

</section><!--/.about-us-->

<!--packages start-->
<section id="tabs" class="project-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-10">
        <%= line_chart BookingTour.where("status <> 1").group_by_month_of_year(:created_at, format: "%b").count %>
        <h3 class="title", style="margin-top: 20px; margin-bottom: 20px; text-align: center; "> Biểu đồ thống kê: Số lượng tour được đặt trên tháng</h3>
      </div>
    </div>
  </div>
</section>

<section id="tabs" class="project-tab">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= line_chart Review.where("status <> 1").group_by_month_of_year(:created_at, format: "%b").count %>
        <h3 class="title", style="margin-top: 20px; margin-bottom: 20px; text-align: center; "> Biểu đồ thống kê: Số lượng bài đánh giá trên tháng(Chỉ những đánh giá không bị từ chối)</h3>
      </div>
    </div>
  </div>
</section>